.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;

  padding: 15px 0;
  font-size: 20px;
  align-items: center;
}
.checkout-item div {
  margin-right: 40px;
}
.image-container img {
  width: 10vw;
}

.name,
.quantity,
.itemprice,
.size,
.color {
  width: 23%;
  text-align: center;
}

.remove-button {
  padding-left: 12px;
  cursor: pointer;
}
