.shopCollection .collection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.shopCollection .collection .alice-carousel__stage-item {
  max-width: 25%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
